%h1 Listing photos
%table
  %tr
    %th Photo
    %th
    %th
    %th
  - @photos.each do |photo|
    %tr
      %td= photo.caption
      %td= link_to 'Show', [photo.user, @collection, photo]
      %td= link_to 'Edit', edit_user_collection_photo_path(photo.user, @collection, photo)
      %td= link_to 'Destroy', [photo.user, @collection, photo], method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Photo', new_user_collection_photo_path(@collection.user, @collection)