#notice= notice
%p
  %label User:
  = @photo.user
%p
  %label Collection:
  = @photo.collection.name
%p
  %label Photo:
  = @photo.caption
%ul
  %li= link_to 'Edit', edit_user_collection_photo_path(@photo.user, @photo.collection, @photo)
  %li= link_to 'Back', user_collection_photos_path(@photo.user, @photo.collection)