!!!
%html
  %head
    %title= full_title yield(:title)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / [if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    = render 'layouts/header'
    .container-fluid{ class: "#{params[:controller].split('/').last} #{params[:action]}" }
      - flash.each do |key,value|
        .div{class: "alert alert-#{key}"}= value
      = yield
    = render 'layouts/footer'
    - if Rails.env.development?
      .container= debug params
